body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
  padding: 15px 30px;
  color: white;
}



.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  color: black;
  text-align: center;
  padding: 100px 20px;
}


.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-radius: 50px;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}


h2{
  margin-top: 50px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 50px;
  text-align: center;
}


.about-list{
  position: relative;
  top: 50px;
  line-height: 3;
  font-size: 20px;  
}

.div-list {
  position: relative;
  top: 60px;
  line-height: 2;
  font-size: 20px;
}
